.grid-sepe{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-left: 2.2rem;
}

.left{
  display:flex;
  flex-direction: column;
  gap: 5rem;
}

.avatar{
  flex:0;
  align-items: center;
  gap: .75rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

}

.tag{display: flex;
  flex:1;
  flex-wrap: wrap;
  gap: .5rem;
  align-content: flex-start;

}

.tag-item {
  padding: 0.4rem 0.8rem;
  border-radius: 999px; 
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(65, 22, 22, 0.1);
  font-size: 0.9rem;
  cursor: pointer;
  color:blueviolet
}

.tag-item:hover {
  background-color: blanchedalmond;
}

.right{
  display:flex;
  flex-direction: column;
  gap: 1rem;

}
  


.toptable{
  background-color: rgba(125, 40, 40, 0.4);
}



#count {
  color: rgb(246, 239, 158);
}

.players {
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.player-name {
  color: rgb(118, 190, 210);
}

#player-messages {
  padding-top: 0.25em;
  opacity: 0.7;
}

.event {
  color: rgb(69, 69, 69);
}

.player-event {
  color: rgb(165, 220, 235);
}

.system-event {
  color: rgb(221, 148, 40);
}

.game {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgb(69, 69, 69);
  width: 80vw;
  height: 80vw;
  position: absolute;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 1000px);
  max-height: min(80vmin, 1000px);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button-top-left {
  border-radius: 100% 0 0 0;
  margin: 20px 0 0 20px;
  background-color: green;
  border: thick solid rgb(36, 53, 0);
}

.button-top-right {
  border-radius: 0 100% 0 0;
  margin: 20px 20px 0 0;
  background-color: red;
  border: thick solid rgb(83, 12, 12);
}

.button-bottom-left {
  border-radius: 0 0 0 100%;
  margin: 0 0 20px 20px;
  background-color: yellow;
  border: thick solid rgb(130, 124, 13);
}

.button-bottom-right {
  border-radius: 0 0 100% 0;
  margin: 0 20px 20px 0;
  background-color: blue;
  border: thick solid rgb(27, 14, 100);
}

.controls {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.game-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.score {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: red;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid thin rgb(117, 0, 0);
  background-color: #300;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
