.all-area{
 display:flex;
 flex-wrap: wrap;
 gap: 5rem;

}



.each-avatar{
  display:flex;
 flex: 1;
 flex-direction: column;
 
}

.avatar-{
  display:flex;
  flex:0;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.statue{
  
  flex:1;
  padding-top: 2.5rem;
  
  
}

.font-sta{
  font-size: 30px;
  
  color : rgba(181, 178, 14, 0.4)
}

.font-sta-i{

  font-size: 30px;
  font-weight: bold;
  color : rgba(52, 52, 11, 0.4);
}


@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

@media (orientation: portrait) {
  .all-area {
    flex-direction: column;
    align-items: center;
  
  }
}