 @import
  
  url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');





.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  
}

.my-theme {
  background-color:#12f0a6
}

.main-theme {
  background-color:aqua
}
header {
  flex: 0 80px;
}
.h1-{
  font-family : 'Nunito';
  font-style: italic;
  font-weight: 700;
}

.lg-theme {
  background-color: #12f0a6;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

